body{
    background-color: #343a40;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root{
    width: 2000px;
}

.btn-custom{
    background-color: #2CB834;
    color: white;
}

.btn-custom:hover{
    background-color: #148b1a;
    color: white;
}