#banner_ram{
    background-color: black;
}

h2{
    color: #2CB834;
    font-weight: bold;
}

.buttons button{
    background-color: transparent;
    outline: none;
    border: none;
}

.card-text{
    word-break: break-all;
}