#user-navbar .navbarSupportedContent{
    flex-direction: row-reverse;
}

#user-navbar .nav-item{
    border-radius: 10px;
    padding: 10px;
    margin: auto 10px;
}

#user-navbar .nav-item:hover{
    background-color: #139c1a;
    font-weight: bold;
    transition: 0.3s;
}

#user-navbar .nav-item a{
    text-decoration: none;
}